<div class="p-3">
  <h1>
    New Dose for  <%= @cocktail.name %>
  </h1>
  <%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.association :ingredient, input_html: { class: "select2" } %>
  <br>
  <%= f.input  :description %>
  <br>
  <%= f.submit class: "btn btn-secondary rounded"%>
  <% end -%>
</div>
